<h3>Sign Up</h3>
<form action="/users/register" method="POST">
<% if(locals.errorMessage != null){ %>
     <%= errorMessage %>
<% } %> 

<label for="">Name</label>
<input type="text" name="name" >
<label for="">Email</label>
<input type="email" name="email" >
<label for="">Password</label>
<input type="password" name="password" >
<button type="submit">Register</button>
<div class="nav-item"><a href="/users/login" class="nav-link">Already registered,Login</a></div>


</form>